/* დავალება 1 */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.block {
    width: 300px;
    height: 300px;
    transition: 0.3s ;
}

.block1 {
    background-color: lightgreen;
}

.block2 {
    background-color: lightcoral;
}


.block:hover {
    background-color: yellow;
}


a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}


a:hover {
    color: blue;
}



/* დავალება 2 */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: red;
}

tr:nth-child(odd) {
    background-color: blue;
}

td {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

th {
    background-color: black;
    color: #ddd;
}