html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    background-image: url("https://scontent.fkut1-1.fna.fbcdn.net/v/t39.30808-6/482213986_122111845484731474_8163688805379521006_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=EDdCaep58NAQ7kNvgFIoRO3&_nc_oc=Adnijrihfst7y4KFDPduKdkmR7KHNWRCUzh0uoFEkNzhtpW637Jz_kOKYP_E4QnVoQJGrzPBQxxby6WlsKdBUDrC&_nc_zt=23&_nc_ht=scontent.fkut1-1.fna&_nc_gid=5XerTb2Acuy8Mo1BJAdRFg&oh=00_AYEhjaYhOesfPE84khXMLVfsfRLMesnErmTdsYVGQGWeKg&oe=67EEAAE8"); /* თქვენი ფოტო ფონდის სახით */
    background-size: cover; /* ფოტოს გაფართოება, რომ დაფაროს მთელი გვერდი */
    background-position: center; /* ფოტოს ცენტრი გაათანაბრეთ */
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

h1, h2 {
    color: #e53935;
}

/* ნავიგაციის სტილები */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.7); /* შავი ფონდი ნახევრად გამჭვირვალეა */
    color: white;
    padding: 15px 0;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #e53935;
    text-decoration: underline;
}

/* მთავარი ნაწილი */
.main-content {
    padding-top: 80px; /* ნავიგაციის სივრცის თავიდან ასაცილებლად */
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(51, 51, 51, 0.7); /* ნახევრად გამჭვირვალე მუქი ფონდი */
    margin-top: 80px
}

.main-content h1 {
    color: #e53935;
}

.main-content p {
    font-size: 18px;
}

/* GOA Martial Arts აღწერა */
.about {
    padding: 40px 20px;
    background-color: rgba(68, 68, 68, 0.8); /* კიდევ უფრო მუქი ფონდი */
    text-align: center;
    margin-top: 70px;
}

.about h2 {
    color: #e53935;
}

.about p {
    color: #ccc;
}

/* Footer */
footer {
    background-color: rgba(17, 17, 17, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer p {
    font-size: 14px;
}