body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 0;
    background-color: #fff;
}

.color {
    display: flex;
    flex-wrap: wrap;
    width: 340px; /* სურათის სიგანე */
    gap: 10px; /* ელემენტებს შორის დაშორება */
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* ყუთების მომრგვალება */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.red {
    color: red;
    border: 2px solid red;
}

.blue {
    color: blue;
    border: 2px solid blue;
}