.layout2 {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}

.box {
  background: #00ff66;
  padding: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #0003;
}

header {
  grid-column: 1 / 4;
}

aside {
  grid-row: 2 / 4;
}

.content1 {
  grid-column: 2 / 4;
}

.content2 {
  grid-column: 2 / 3;
}

.content3 {
  grid-column: 3 / 4;
}

footer {
  grid-column: 1 / 4;
}
