body {
     background-color: #080049;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#output {
    font-size: 80px; 
    margin-bottom: 20px;
}

#btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: aqua;
}


