/* 3 დავალება */

body {
  font-family: sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding: 30px;
}

form {
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 200px;
}
