.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
  }
  
.item {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    width: 150px;
    height: 100px;
}
   