.box1 {
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: resizeAndColorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes resizeAndColorChange {
    0% {
        width: 100px;
        height: 100px;
        background-color: green;
    }
    50% {
        width: 150px;
        height: 150px;
        background-color: yellow;
    }
    100% {
        width: 200px;
        height: 200px;
        background-color: red;
    }
}
