/* დავალება 2 */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* ბლოკის სტილი */
.box {
    width: 250px;
    height: 250px;
    background-color: blue;
    transition: background-color 2s;
    cursor: pointer;
}

/* ფერის ცვლილება ჰოვერის დროს */
.box:hover {
    background-color: red;
}