* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
    background-color: rgb(246, 226, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-bg{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: auto;
z-index: -1;
}

.faq-container {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 12px;
  width: 500px;
}

.faq-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.toggle {
  background: none;
  border: none;
  font-size: 20px;
  color: purple;
  cursor: pointer;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  color: #555;
  line-height: 1.5;
}

/* გახსნილი */
.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .toggle {
  content: "-";
}